
/* STOPWATCH */

@media (max-width: 768px) {   
    .minutes, .seconds, .tens {
       width: 180em;
    }

}

#false .stopwatch {
    position: relative;
    background: linear-gradient(108.08deg, #005AA7 0.53%, #FFFDE4 100%);
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    border-radius: 20px;
    height: 44em;
    min-height: 65vh;
}
#true .stopwatch {
    position: relative;
    background: var(--myGreen-1);
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    border-radius: 20px;
    height: 44em;
    min-height: 65vh;
}
#false .stopwatch h2 {
    text-align: center;
    margin: 3em auto 0.5em auto;
    font-size: 40px;
}
#true .stopwatch h2 {
    text-align: center;
    margin: 3em auto 0.5em auto;
    font-size: 40px;
    color: var(--myBlackGreen);
}
.stopwatch h4 {
    display: flex;
    margin: auto;
    width: 25em;
    margin-top: 0.1em;
    justify-content: space-around;
    align-items: center;
    color: var(--myBlackGreen);
}
#false .stopwatch span {
    font-size: 4em;
    padding-bottom: 0.2em;
}
#true .stopwatch span {
    color: var(--myGreen-hover);
    font-size: 4em;
    padding-bottom: 0.2em;
}
.stopwatch-butt {
    text-align: center;
}
#false .minutes, #false .seconds, #false .tens {
    font-size: 73px;
    text-align: center;
    width: 170em;
    padding: 0 0.15em;
}
#true .minutes, #true .seconds, #true .tens {
    color: var(--myGreen-hover);
    font-size: 73px;
    width: 170em;
    padding: 0 0.15em;
}
.start, .stop, .reset {
    border: 2px solid goldenrod;
    border-radius: 15px;
    padding: 0.5em 0;
    margin: 3em 0.9em;
    font-size: 16px;
    transition: 0.3s;
    width: 7em;
    text-align: center;
}
#false .start, #false .stop, #false .reset {
    background-color: var(--myGreen-hover);
}
#true .start, #true .stop, #true .reset {
    background: var(--myBlackGreen);
    color: var(--myGreen-hover);
}
#false .start:hover, #false .stop:hover, #false .reset:hover {
    cursor: pointer;
    color: lavender;
    background-color: goldenrod;
    border-radius: 15px;
    letter-spacing: 0.04em;
    font-weight: bold;
}
#true .start:hover, #true .stop:hover, #true .reset:hover {
    cursor: pointer;
    background-color: var(--myGreen-2);
    font-weight: bold;
    letter-spacing: 0.04em;
    color: var(--myBlackGreen);
}