/* COUNTER */

@media (max-width: 768px) {
    .counter div h2 {
        width: 1em;
    }
    .counter div {
        width: 1em;
    }
    .counter button {
        width: 3em;
    }
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    height: 16em;
}
.counter div {
    margin: 0 5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.counter div span {
    text-align: center;
    font-size: x-large;
    padding-top: 3em;
    width: 13em;
    height: 2em;
    color: var(--myGreen-3);
}
#false .counter-number {
    color: var(--myBlackGreen);
}
#true .counter-number {
    color: var(--myGreen-1);
}
#false .counter-number-off, #true .counter-number-off {
    color: var(--myGreen-3);
}
.counter button {
    font-size: xx-large;
    text-align: center;
    transition: .25s;
    margin-top: 0.4em;
    border: none;
    width: 4em;
    height: 1.5em;
    color: var(--myBlackGreen);
    background-color: var(--myGreen-hover);
    border-radius: 10px;
}
.counter button:hover {
    cursor: pointer;
    background-color: var(--myGreen-1);
    box-shadow: inset 0px 0px 10px 3px var(--myGreen-hover);
}
.danger {
    background-color: var(--myRed);
}
#false .default {
    background-color: var(--myGreen-3);
}
#true .default {
    background-color: var(--myBlackGreen);
}
.middle {
    background-color: var(--myYellow);
}
.default, .danger, .middle {
    transition: .3s;
    border-radius: 20px;
    height: 44em;
}
#false .counter-title {
    color: var(--myBlackGreen);
    transition: .3s;
    padding-top: 4em;
}
#true .counter-title {
    color: var(--myGreen-1);
    transition: .3s;
    padding-top: 4em;
}
#false .counter-title-off, #true .counter-title-off {
    color: var(--myGreen-3);
    padding-top: 4em;
}