* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --myDarkBlue: #244c61;
    --myBlue-1: #5689C0;
    --myLightBlue: #75E2FF;
    --myGlassBlue: hsl(200, 46%, 26%, 0.6);
    --myWhite2: #EAEBED;
}
.github {
    height: 48em;
    min-height: 65vh;
    position: relative;
}
.github-main-div {
    background-image: linear-gradient(to top right, var(--myBlue-1), var(--myDarkBlue));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.github-main-div h1 {
    text-align: center;
    font-size: 200%;
    margin: 5em 0em 1em 0;
    color: var(--myWhite2);
}