
@media (width < 768px) {
    .e-comm-slider-main section {
        padding-bottom: 12%;
    }
    .e-comm-slider-figure {
        display: flex;
        flex-direction: column;
        padding-top: 20%;
    }
    .e-comm-slider-figure-image {
        min-height: 18vh;
    }
    .e-comm-slider-figure-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 3%;
        min-width: calc(100% - 3em);
    }
    .e-comm-slider-figure-info p {
        text-align: center;
        height: 3em;
    }
    .e-comm-slider-figure-info div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}


#false .e-commerce {
    background-image: linear-gradient(108.08deg, #E55D87 0.53%, #5FC3E4 100%);
    width: 100%;
    height: 82em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
#true .e-commerce {
    background-image: linear-gradient(108.08deg, var(--myBlackGreen) 0.53%, var(--myGreen-1) 100%);
    width: 100%;
    height: 82em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
#false .e-commerce-main {
    position: relative;
    background-color: #E3E4E6;
    color: var(--myBlackGreen);
    height: 64em;
    width: 98%;
    display: flex;
    flex-direction: column;
}
#true .e-commerce-main {
    position: relative;
    background-color: var(--myBlackGreen);
    color: var(--myWhite);
    height: 64em;
    width: 98%;
    display: flex;
    flex-direction: column;
}
#false .e-comm-search-input {
    border: none;
    width: 90%;
    background-color: #E3E4E6;
    padding: 0 1em;
}
#true .e-comm-search-input {
    border: none;
    width: 90%;
    background-color: transparent;
    padding: 0 1em;
    color: var(--myBlackGreen);
}
.e-comm-search-input::placeholder {
    color: var(--myBlackGreen);
}
.e-comm-search-input:focus {
    border: none;
    outline: none;
}
.home-page-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.home-page-main-section {
    overflow-y: scroll;
    width: 100%;
    height: 74%;
    padding-top: calc(1.8em + 1.5642vh);
}

/* SLIDER */
.e-comm-slider-main {
    width: 100%;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #8957FF;
}
.e-comm-slider-main section {
    height: 80%;
    display: flex;
    align-items: center;
    transition: .8s all ease;
}
.e-comm-slider-buttons {
    width: 96%;
    height: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.e-comm-slider-buttons button {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: #5FC3E4;
    border: none;
    transition: 0.3s ease;
}
.e-comm-slider-buttons button:hover {
    cursor: pointer;
    background: transparent;
    border: 1px solid #5FC3E4;
    color: #FFFFFF;
}
.e-comm-slider-figure {
    height: 100%;
    width: 98vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.e-comm-slider-figure-image {
    aspect-ratio: 16/9;
    max-width: calc(100% - 45%);
    padding-top: 1%;
    object-fit: cover;
    pointer-events: none;
    margin: auto;
}
.e-comm-slider-figure-info {
    width: 50%;
    height: 10em;
    padding: 3% 0 0 2%;
}
.e-comm-slider-button {
    margin-top: 5%;
    background: transparent;
    border-radius: 10px;
    height: 2.5em;
    width: 10em;
    border: none;
    color: var(--myBlackGreen);
}
.e-comm-slider-button a {
    background: #FFD960;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #FFD960;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease;

}
.e-comm-slider-button a:hover {
    background-color: transparent;
    color: var(--myWhite);
    border: .5px solid #FFD960;
    cursor: pointer;
    box-shadow: none;
}

/* PRODUCTS */
.e-comm-product-image {
    object-fit: contain;
    width: 100%;
    height: 45%;
    background-color: #E3E4E6;
    /* mix-blend-mode: color-burn; */
    transition: .35s ease-in-out all;
}
.e-comm-product-image:hover {
    cursor: pointer;
}
.e-comm-product-title {
    padding: 4% 0;
    font-size: 110%;
    text-align: center;
}
.e-comm-product-description {
    text-align: center;
    font-size: small;
    padding: 0 2%;
    height: 15%;
    overflow: hidden;
}
.e-comm-product-price {
    font-weight: 700;
    font-size: larger;
    padding: 3% 0;
}
.e-comm-product-buy-button {
    border: none;
    width: 100%;
    height: 12%;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--myBlackGreen);
    background-color: #FFD960;
}
.e-comm-product-buy-button button {
    background: transparent;
    width: 70%;
    height: 100%;
    border: none;
}
.e-comm-product-buy-button button a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5em;
    font-size: 1.2em;
    font-weight: 600;
    transition: .3s ease;
    color: var(--myBlackGreen);
}
.e-comm-product-buy-button-span {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: #8957FF solid 2px;
    transition: .3s ease;
}
.e-comm-product-buy-button-icon {
    color: var(--myBlackGreen);
}
.e-comm-product-buy-button button a:hover{
    cursor: pointer;
    background-color: #8957FF;
    box-shadow: 3px 3px 20px #8957FF;
    color: #FFFFFF;
}
.e-comm-product-buy-button a:hover ~ .e-comm-product-buy-button-span {
    border-left: transparent 1px solid;
}
.e-comm-product-buy-button-span:hover {
    cursor: pointer;
    background-color: #E55D87;
    box-shadow: 3px 3px 20px #E55D87;
    color: #FFFFFF;
    border-left: transparent 1px solid;
}
.e-comm-product-buy-button-span:hover > .e-comm-product-buy-button-icon {
    color: #FFFFFF;
}