
@media (width < 768px) {
    
}


#false .e-commerce {
    background-image: linear-gradient(108.08deg, #E55D87 0.53%, #5FC3E4 100%);
    width: 100%;
    height: 48em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
#true .e-commerce {
    background-image: linear-gradient(108.08deg, var(--myBlackGreen) 0.53%, var(--myGreen-1) 100%);
    width: 100%;
    height: 48em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
#false .e-commerce-main {
    position: relative;
    background-color: rgb(227, 228, 230, 0.3);
    color: var(--myBlackGreen);
    height: 33em;
    width: 98%;
    display: flex;
    flex-direction: column;
}
#true .e-commerce-main {
    position: relative;
    background-color: rgb(46, 66, 78, 0.3);
    color: var(--myWhite);
    height: 33em;
    width: 98%;
    display: flex;
    flex-direction: column;
}