
@media (width < 768px) {
    
}


#false .e-commerce {
    background-image: linear-gradient(108.08deg, #E55D87 0.53%, #5fc3e4 100%);
    width: 100%;
    height: 48em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
#true .e-commerce {
    background-image: linear-gradient(108.08deg, var(--myBlackGreen) 0.53%, var(--myGreen-1) 100%);
    width: 100%;
    height: 48em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
}
.e-commerce div {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.e-commerce-spline {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
#false .e-commerce-main {
    position: relative;
    background-color: rgb(227, 228, 230, 0.3);
    color: var(--myBlackGreen);
    height: 27em;
    width: 98%;
    display: flex;
    flex-direction: column;
}
#true .e-commerce-main {
    position: relative;
    background-color: rgb(46, 66, 78, 0.3);
    color: var(--myWhite);
    height: 27em;
    width: 98%;
    display: flex;
    flex-direction: column;
}
#false .e-commerce p {
    text-align: center;
    color: var(--myBlackGreen)
}
#true .e-commerce p {
    text-align: center;
    color: var(--myWhite)
}
.e-commerce p a {
    color: var(--myGreen-3);
    font-size: x-large;
}