
@media ( width < 786px ) {
    .contacts-list table tr td, .contacts-list table tr th {
        text-align: center;
        font-size: 9px;
    }
    .contacts-list-button, .contacts-list-cancel-button, .contacts-list-save-button {
        font-size: 8.7px;
    }
    .edit-row-inputs {
        font-size: 9px;
    }
}

#false .contacts-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48em;
    background-image: linear-gradient(108.08deg, #5689C0 0.53%, #78FFD6 100%);
    border-radius: 20px;
}
#true .contacts-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48em;
    background-image: linear-gradient(108.08deg, #244D61 0.53%, #1A2980 100%);
    border-radius: 20px;
}
.contacts-main main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-form {
    width: 42em;
    max-width: calc(100% - 1em);
    height: 17em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--myWhite);
    padding: 0.5em;
    border-radius: 10px;
    background-color: var(--myGlassBlue);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(14px);
}
.contacts-form div, .contacts-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts-form form div {
    position: relative;
}
.contacts-form-search-div {
    position: relative;
    border-right: solid 1px var(--myWhite);
    height: 6em;
    padding-right: 2%;
    justify-content: center;
}
.contacts-form-firstName-input,
.contacts-form-lastName-input,
.contacts-form-phone-input,
.contacts-form-email-input,
.contacts-form-search-input {
    width: 94%;
    height: 2em;
    font-size: 14px;
    padding: 0.5em;
    border: none;
    border-bottom: 1px solid var(--myWhite);
    background-color: rgba(0, 0, 0, 0);
    margin: 0.9em 0;
    color: var(--myDarkBlue);
}
.contacts-form-search-input::placeholder {
    color: var(--myWhite);
}
.contacts-form-search-input:focus ~ label, .contacts-form-search-input:valid ~ label,
.contacts-form-firstName-input:focus ~ label, .contacts-form-firstName-input:valid ~ label,
.contacts-form-lastName-input:focus ~ label, .contacts-form-lastName-input:valid ~ label,
.contacts-form-phone-input:focus ~ label, .contacts-form-phone-input:valid ~ label,
.contacts-form-email-input:focus ~ label, .contacts-form-email-input:valid ~ label {
    transform: translateY(-135%) scale(0.85);
    color: var(--myLightBlue);
}
.contacts-form-search-input:focus,
.contacts-form-firstName-input:focus,
.contacts-form-lastName-input:focus,
.contacts-form-phone-input:focus,
.contacts-form-email-input:focus {
    outline: none;
    background-color: transparent;
}
.contacts-form-search-input, select, textarea,
.contacts-form-firstName-input, select, textarea,
.contacts-form-lastName-input, select, textarea,
.contacts-form-phone-input, select, textarea,
.contacts-form-email-input, select, textarea {
    color: var(--myWhite);
}
.contacts-form-firstName-label,
.contacts-form-lastName-label,
.contacts-form-phone-label,
.contacts-form-email-label,
.contacts-form-search-label {
    position: absolute;
    width: 100%;
    color: var(--myWhite);
    font-size: 16px;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}
.contacts-form-search-label {
    left: 10px;
    top: 39px;
}
.contacts-form-firstName-label,
.contacts-form-lastName-label,
.contacts-form-phone-label,
.contacts-form-email-label {
    left: 10px;
    top: 17px;
}
.edit-row-inputs {
    width: 98%;
    max-width: calc(100% - 25%);
    height: 1.5em;
    border-radius: 5px;
    padding: 0.5em;
    border: var(--myWhite);
    color: var(--myDarkBlue);
}
.edit-row-inputs:focus {
    background-color: var(--myLightBlue);
    outline: none;
}
.contacts-form button {
    position: relative;
    width: 8em;
    height: 1.6em;
    color: var(--myBlue-1);
    margin-top: 0.7em;
    padding: 0.2em;
    font-size: 15px;
    background-color: #E7E9BB;
    border: none;
    border-radius: 4px;
    transition: .4s;
}
.contacts-form button:hover {
    cursor: pointer;
    background-color: var(--myBlue-1);
    color: var(--myWhite);
    letter-spacing: .3px;
}
.contacts-list {
    position: relative;
    width: 96vw;
    height: 18em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--myWhite);
    padding: 0.8em 0 0;
    margin-top: 1em;
    border-radius: 10px;
    background-color: var(--myGlassBlue);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(14px);
}
.contacts-list h4 {
    position: relative;
    font-size: 1.45em;
    margin-bottom: 0.7em;
}
.contacts-list form {
    width: 99%;
    display: flex;
    flex-direction: column;
}
.contacts-list-table-body {
    position: absolute;
    width: 98.5%;
    height: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-shadow: inset 0px 1px 10px -1px rgba(0, 0, 0, 0.5);
}
.contacts-list table tr td, .contacts-list table tr th {
    width: 20%;
    height: 2%;
    text-align: center;
    word-wrap: break-word;
}
.contacts-list-button, .contacts-list-cancel-button, .contacts-list-save-button {
    width: 44%;
    min-width: calc(100% - 65%);
    height: 1.8em;
    color: var(--myBlue-1);
    padding: 0.2em;
    margin: 0 0.2em;
    background-color: #E7E9BB;
    border: 1 solid var(--myWhite);
    border-radius: 4px;
    transition: .3s;
}
.contacts-list-cancel-button {
    background-color: #FF512F;
    color: var(--myWhite);
}
.contacts-list-button:hover, .contacts-list-cancel-button:hover, .contacts-list-save-button:hover {
    cursor: pointer;
    background-color: #42506B;
    color: var(--myWhite);
    letter-spacing: .2px;
}
.contacts-list-cancel-button:hover {
    background-color: #FF8496;
}
.contacts-list-save-button:hover {
    background-color: #00C6C5;
}
.contacts-list table tr {
    width: 100%;
    height: 1.8em;
    margin-bottom: 0.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}