* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; 
    --myDarkGreen: #2E424E;
    --myGreen-1: #46a094;
    --myGreen-2: #6BBD99;
    --myGreen-3: #AECFA4;
    --myGreen-hover: #C4E8C2;
    --myWhite: #FFFFFF;
    --myHeaderGreen: hsl(172, 39%, 45%, 0.8);
    --myDarkHeader: hsl(203, 26%, 24%, 0.7);
}
#light .cv {
    background-image: url(../components/Media/cv_wall.jpg);
    background-color: var(--myGreen-3);
    border-radius: 10px;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#dark .cv {
    border-radius: 10px;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cv h2 {
    color: var(--myDarkGreen);
    letter-spacing: 4px;
    font-size: 60px;
}
#light .cv p {
    color: var(--myDarkGreen);
    padding-top: 4em;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: bolder;
}
#dark .cv p {
    color: var(--myGreen-hover);
    padding-top: 4em;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: bolder;
}
#light .cv a {
    color: var(--myGreen-1);
    text-decoration: underline;
}
#dark .cv a {
    color: var(--myGreen-2);
    text-decoration: underline;
}
.cv img {
    height: 72%;
}

@media (max-width: 768px) {
    .cv {
        height: 100%;
    }
    .cv img {
        width: 90%;
        height: 50%;
    }
    .cv p {
        text-align: center;
    }


}

/* TOGGLE BUTTON */
#light .toggle-theme {
    display: flex;
    align-items: center;
    padding: 0 0.2em;
    position: absolute;
    top: 2.5rem;
    right: 10rem;
    width: 4em;
    height: 2em;
    border-radius: 50px;
    background: var(--myGreen-hover);
    box-shadow: 3px 3px 3px var(--myDarkHeader);
    cursor: pointer;
}
#dark .toggle-theme {
    display: flex;
    align-items: center;
    padding: 0 0.2em;
    position: absolute;
    top: 2.5rem;
    right: 10rem;
    width: 4em;
    height: 2em;
    border-radius: 50px;
    background: linear-gradient(145deg, var(--myGreen-1), var(--myGreen-2));
    box-shadow: 2px 2px 3px var(--myGreen-hover);
    cursor: pointer;
}
.toggle-theme input {
    opacity: 0;
    width: 0;
    height: 0;
}
#light .slider {
    position: absolute;
    background-color: var(--myDarkGreen);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.4s;
}
#dark .slider {
    position: absolute;
    background-color: var(--myGreen-hover);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.4s;
    transform: translateX(30px);
}
.toggle-sun-icon {
    width: 1.7em;
    height: 1.7em;
    margin-left: 0.2em;
    background: url(../components/Media/sun_icon.png);
    background-size: contain;
}
.toggle-moon-icon {
    width: 1.7em;
    height: 1.7em;
    background: url(../components/Media/moon_icon.png);
    background-size: contain;
}
#light .show-date {
    width: 40%;
    display: flex;
    position: absolute;
    top: 0.5em;
    right: 7em;
    justify-content: flex-end;
}
#dark .show-date {
    color: var(--myGreen-2);
    width: 40%;
    display: flex;
    position: absolute;
    top: 0.5em;
    right: 7em;
    justify-content: flex-end;
}
.show-date p {
    font-size: 95%;
    text-align: center;
    width: 6em;
}
.back-button {
    position: absolute;
    font-size: larger;
    background-color: var(--myGreen-hover);
    box-shadow: 3px 3px 3px var(--myDarkHeader);
    color: var(--myDarkGreen);
    top: 18%;
    left: 10%;
    border-radius: 10px;
    padding: 7px 10px;
    transition: .3s;
}
.back-button:hover {
    background-color: var(--myDarkGreen);
    color: var(--myGreen-hover);
    animation: shake 1s infinite;
    box-shadow: none;
}
@keyframes shake {
    0% {transform: translate(-3px, 0);}
}