* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    --myWhite: #FFFFFF;
    --myGreyWhite: rgba(255, 255, 255, 0.5);
    --myGlassGrey: rgba(255, 255, 255, 0.1);
    --myHoverBlackGreen: hsl(203, 26%, 24%, 85%);
    --myGreen-hover: #C4E8C2;
    --myGreen-2: #6BBD99;
    --myGreenTransparent-2: rgb(107, 189, 153, .7);
    --myBlackGreen: #2E424E;
}
@media (max-width: 768px) {
    .counter div h2 {
        width: 1em;
    }
    .counter div {
        width: 1em;
    }
    .counter button {
        width: 3em;
    }
    .minutes, .seconds, .tens {
        font-size: xx-small;
    }
    
}
.projects {
    background-image: url(../components/Media/projects_wall.jpg);
    border-radius: 15px;
}
#false .projects h2, #true .projects h2 {
    color: var(--myGreen-hover);
    letter-spacing: 2px;
    font-size: 50px;
}
.projects h5 {
    color: var(--myGreen-hover);
    font-size: 25px;
    font-weight: lighter;
    margin: 0.5em 3em 3em 3em;
    text-align: center;
}
.projects h5 a {
    color: var(--myGreen-2);
    transition: .3s;
}
.projects h5 a:hover {
    cursor: pointer;
    color: var(--myGreen-hover);
}
.main-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
    padding-bottom: 3em;
}

/* COUNTER */
.counter {
    display: flex;
    justify-content: center;
    padding: 2em;
    height: fit-content;
    margin: 3em 0;
}
.counter div {
    margin: 0 5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter div span {
    text-align: center;
    font-size: x-large;
}
.counter div span, .counter div h2 {
    width: 3em;
    padding-top: 1em;
    transition: .3s;
}
#false .counter-number, #true .counter-number {
    color: var(--myBlackGreen);
}
.counter button {
    font-size: xx-large;
    text-align: center;
    transition: .25s;
    margin-top: 1.4em;
    width: 4em;
    height: 1.5em;
    border-radius: 10px;
}
.counter button:hover {
    cursor: pointer;
    background-color: var(--myGreen-1);
    box-shadow: inset 0px 0px 10px 3px var(--myGreen-hover);
}
.danger {
    background-color: var(--myRed);
}
.default {
    background-color: var(--myGreen-3);
}
.middle {
    background-color: var(--myYellow);
}
.default, .danger, .middle {
    transition: .3s;
    border-radius: 10px;
}


a {
    text-decoration: none;
}
.project-card {
    width: 15em;
    height: 19em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-radius: 15px;
    background-color: var(--myGlassGrey);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: .3s;
    margin: 2em 4em;
    backdrop-filter: blur(7px);
}
.project-card:hover {
    background-color: var(--myHoverBlackGreen);
}
.project-card h6 {
    color: var(--myGreen-hover);
    text-align: center;
    font-size: 30px;
    margin-bottom: 0.8em;
}
.project-card img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}
.project-card p {
    color: var(--myGreen-3);
    margin-top: 3em;
}

/* STOPWATCH */
#false .stopwatch {
    background-color:lavender;
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    border-radius: 10px;
}
#true .stopwatch {
    background-color: var(--myGreen-1);
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    border-radius: 10px;
}
#false .stopwatch h2 {
    text-align: center;
    margin: 3em auto 0.5em auto;
    font-size: 40px;
}
#true .stopwatch h2 {
    text-align: center;
    margin: 3em auto 0.5em auto;
    font-size: 40px;
    color: var(--myBlackGreen);
}
.stopwatch h4 {
    display: flex;
    margin: auto;
    margin-top: 0.1em;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    color: var(--myBlackGreen);
}
#false .stopwatch span {
    font-size: 5em;
    padding-bottom: 0.2em;
}
#true .stopwatch span {
    color: var(--myGreen-hover);
    font-size: 5em;
    padding-bottom: 0.2em;
}
.stopwatch-butt {
    text-align: center;
}
#false .minutes, #false .seconds, #false .tens {
    font-size: 5.1em;
    width: 130px;
    padding: 0 0.2em;
}
#true .minutes, #true .seconds, #true .tens {
    color: var(--myGreen-hover);
    font-size: 5.1em;
    width: 130px;
    padding: 0 0.2em;
}
.start, .stop, .reset {
    border: 2px solid goldenrod;
    border-radius: 15px;
    padding: 0.5em 0;
    margin: 3em 0.9em;
    font-size: 16px;
    transition: 0.3s;
    width: 7em;
    text-align: center;
}
#false .start, #false .stop, #false .reset {
    background-color: var(--myGreen-hover);
}
#true .start, #true .stop, #true .reset {
    background: var(--myBlackGreen);
    color: var(--myGreen-hover);
}
#false .start:hover, #false .stop:hover, #false .reset:hover {
    cursor: pointer;
    color: lavender;
    background-color: goldenrod;
    border-radius: 15px;
    letter-spacing: 0.04em;
    font-weight: bold;
}
#true .start:hover, #true .stop:hover, #true .reset:hover {
    cursor: pointer;
    background-color: var(--myGreen-2);
    font-weight: bold;
    letter-spacing: 0.04em;
    color: var(--myBlackGreen);
}

/* SEMAFOR */
.semafor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 13em;
    height: 25em;
    border: 4px solid black;
    border-radius: 1em;
    background-color: lightslategrey;
}
.semafor p {
    width: 7em;
    height: 7em;
    border: 2px solid black;
    border-radius: 3.5em;
    margin: 0.6em 0;
}
.red-false {
    background-color: red;
    transition: 0.1s;
    box-shadow: 4px 4px 30px rgb(223, 68, 68),
    -4px -4px 30px rgb(223, 68, 68);
}
.yellow-false {
    background-color: yellow;
    transition: 0.1s;
    box-shadow: 4px 4px 30px rgb(241, 241, 174),
    -4px -4px 30px rgb(241, 241, 174);
}
.green-false {
    background-color: green;
    transition: 0.1s;
    box-shadow: 4px 4px 30px rgb(29, 247, 112),
    -4px -4px 30px rgb(29, 247, 112);
}
.off-false {
    background-color: rgb(69, 76, 83);
    transition: 0.2s;
    box-shadow: none;
}
.modul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
}
.modul button {
    width: 6em;
    height: 2em;
    margin-top: 4%;
    border: solid 3px black;
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(57, 58, 58, 0.6),
    -1px -1px 15px rgba(57, 58, 58, 0.6);
    background-color: aliceblue;
    font-size: 25px;
    transition: 0.4s;
}
.modul button:hover {
    cursor: pointer;
    background-color: rgb(190, 190, 190);
    box-shadow: none;
}
.stalp {
    position: relative;
    width: 0em;
    height: 10em;
    border: 8px solid black;
    margin: 0 15%;
}


/* CALCULATOR */

.calculator {
    display: grid;
    justify-content: center;
    margin-bottom: 3em;
    gap: 0.2em;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: minmax(5em, auto) repeat(5, 3em);
}
#false .calculator button {
    border-radius: 4px;
    font-size: 1.3em;
    transition: .3s;
    border: 1px solid var(--myGreyWhite);
    background-color: var(--myGreenTransparent-2);
}
#true .calculator button {
    border-radius: 4px;
    font-size: 1.3em;
    transition: .2s;
    border: 1px solid var(--myGreen-2);
    background-color: var(--myGreenTransparent-2);
}
#false .calculator button:hover, #true .calculator button:hover {
    cursor: pointer;
    background: var(--myGreen-2);
}
.calculator-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.2em 0.4em;
    grid-column: 1 / -1;
    background: var(--myBlackGreen);
    border-radius: 4px;
    border: 1px solid var(--myWhite);
    word-wrap: break-word;
    word-break: break-all;
}
.calculator-span-two {
    grid-column: span 2;
}
.calculator-prev-number {
    color: var(--myGreyWhite);
    font-size: 1.4em;
}
.calculator-curr-number {
    color: var(--myWhite);
    font-size: 2.4em;
}