
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; 
    --myDarkGreen: #2E424E;
    --myGreen-1: #46a094;
    --myGreen-2: #6BBD99;
    --myGreen-3: #AECFA4;
    --myGreen-hover: #C4E8C2;
    --myWhite: #FFFFFF;
    --myYellow: #FDD037;
    --myRed: #E65C4F;
    --myHeaderGreen: hsl(172, 39%, 45%, 0.8);
    --myDarkHeader: hsl(203, 26%, 24%, 0.7);
}
::-webkit-scrollbar {
    background: var(--myHeaderGreen);
}
::-webkit-scrollbar-thumb {
    background: var(--myGreen-3);
    border-radius: 5px;
}
@media (max-width: 768px) {
    h1 a, h3 a {
        font-size: small;
    }
    .main-bg h1 {
        text-align: center;
    }
    .main-bg h2 {
        font-size: 1.5rem;
    }

}
#light {
    background-color: var(--myWhite);
}
#dark {
    background-color: var(--myDarkGreen);
}
#light h2 {
    font-size: 35px;
    color: var(--myDarkGreen);
    text-align: center;
    padding: 1em 0;
}
#dark h2 {
    font-size: 35px;
    color: var(--myWhite);
    text-align: center;
    padding: 1em 0;
}
#light .header {
    background-color: var(--myHeaderGreen);
    backdrop-filter: blur(6px);
    border-radius: 0 0 10px 10px;
    margin: 0.3em 0 0;
    padding: 1.6em 1em 1em 1em;
    width: 100%;
    height: fit-content;
    display: flex;
    position: sticky;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}
#dark .header {
    background-color: var(--myDarkHeader);
    backdrop-filter: blur(6px);
    border-radius: 0 0 10px 10px;
    margin: 0.3em 0 0;
    padding: 1.6em 1em 1em 1em;
    width: 100%;
    border-bottom: 0.8px solid var(--myWhite);
    height: fit-content;
    display: flex;
    position: sticky;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}
h1 a {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
#light h1 a, #light h3 a {
    text-decoration: none;
    color: black;
    transition: 0.25s;
}
#dark h1 a, #dark h3 a {
    text-decoration: none;
    color: var(--myWhite);
    transition: 0.25s;
}
#light h1 a:hover, #light h3 a:hover {
    cursor: pointer;
    color: var(--myGreen-hover);
}
#dark h1 a:hover, #dark h3 a:hover {
    cursor: pointer;
    color: var(--myGreen-hover);
}
h1 img {
    width: 30%;
}
.navbar {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: flex-end;
}
.navbar h3 {
    padding: 0 2.7%;
}

.main-article {
    width: 100%;
    height: 100vh;
    background-image: url("../components/images/master-bg.jpg");
    border-radius: 10px;
}
.main-bg-about, .main-bg-about-click {
    margin-top: 4em;
    border: var(--myDarkGreen) solid 3px;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: var(--myWhite);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.main-bg-about {
    background-image: linear-gradient(to bottom right, var(--myGreen-1), var(--myGreen-3));
    box-shadow: 3px 3px 3px var(--myDarkHeader);
}
.main-bg-about-click {
    color: var(--myDarkGreen);
    background-image: linear-gradient(to bottom right, var(--myGreen-2), var(--myGreen-hover));
}
.main-bg-about:hover {
    background-image: linear-gradient(var(--myGreen-hover), var(--myGreen-hover));
    cursor: pointer;
    color: var(--myDarkGreen);
}
.main-bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5em;
    width: 100%;
    height: 100vh;
}
.main-bg h1 {
    font-size: 3rem;
    color: var(--myDarkGreen);
}
#dark .main-bg h2 {
    color: var(--myDarkGreen);
}


/* FOOTER */
#light .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4em;
    width: 100%;
    height: fit-content;
    background-color: var(--myDarkGreen);
    color: var(--myWhite);
    border-radius: 10px 10px 0 0;
}
#dark .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4em;
    width: 100%;
    height: fit-content;
    background-color: var(--myDarkGreen);
    color: var(--myWhite);
    border-radius: 10px 10px 0 0;
    border-top: 0.8px solid var(--myWhite);
}
.footer-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}
#light .footer-main-card {
    color: var(--myDarkGreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23em;
    height: 25vh;
    background-color: var(--myWhite);
    border-radius: 5px;
}
#dark .footer-main-card {
    color: var(--myWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23em;
    height: 25vh;
    background-color: var(--myGreen-1);
    border-radius: 5px;
}
.footer-main-title {
    font-weight: bolder;
    padding-top: 1em;
    font-size: 17px;
}
.footer-main span {
    padding-top: 1em;
}
#light .footer-main-br {
    margin-top: 1em;
    width: 4em;
    height: 0.15em;
    border-radius: 20px;
    background-color: var(--myDarkGreen);
}
#dark .footer-main-br {
    margin-top: 1em;
    width: 4em;
    height: 0.15em;
    border-radius: 20px;
    background-color: var(--myWhite);
}
.footer-main-card-logo-a, .footer-main-card-logo-e, .footer-main-card-logo-p {
    width: 2em;
    height: 2em;
    background-size: contain;
}
#light .footer-main-card-logo-a {
    background-image: url(../components/images/address_icon.png);
}
#dark .footer-main-card-logo-a {
    background-image: url(../components/images/address_icon_white.png);
}
#light .footer-main-card-logo-e {
    background-image: url(../components/images/email_icon.png);
}
#dark .footer-main-card-logo-e {
    background-image: url(../components/images/email_icon_white.png);
}
#light .footer-main-card-logo-p {
    background-image: url(../components/images/phone_icon.png);
}
#dark .footer-main-card-logo-p {
    background-image: url(../components/images/phone_icon_white.png);
}
.footer h4 {
    color: var(--myWhite);
    width: 100%;
    padding: 3em 0 1em 0;
    text-align: center;
    font-weight: lighter;
}
.footer-social {
    padding-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-social a {
    padding: 0 2em;
}
.footer-social img {
    width: 3.5em;
    height: 3,5em;
    transition: 0.2s;
}
.footer-social img:hover {
    background-color: var(--myGreen-hover);
    width: 3,5em;
    height: 3,5em;
    border-radius: 50%;
    opacity: 70%;
}