
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Poppins', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; 
    --myDarkGreen: #2E424E;
    --myGreen-1: #46a094;
    --myGreen-2: #6BBD99;
    --myGreen-3: #AECFA4;
    --myGreen-hover: #C4E8C2;
    --myWhite: #FFFFFF;
    --myYellow: #FDD037;
    --myRed: #E65C4F;
    --myHeaderGreen: hsl(172, 39%, 45%, 0.8);
    --myDarkHeader: hsl(203, 26%, 24%, 0.7);
}
::-webkit-scrollbar {
    background: var(--myHeaderGreen);
}
::-webkit-scrollbar-thumb {
    background: var(--myGreen-3);
    border-radius: 5px;
}
@media (max-width: 768px) {
    h1 a, h3 a {
        font-size: small;
    }
    .toggle-p {
        top: 43%;
    }
    .navbar {
        height: 1.3em;
    }
    .main-bg h1 {
        text-align: center;
    }
    .main-bg h2 {
        font-size: 1.5rem;
    }
    .main-bg figure {
        width: 50%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #light .main-bg-h2 {
        color: var(--myGreen-hover);
        font-size: 25px;
    }
    #dark .main-bg-h2 {
        color: var(--myGreen-3);
        font-size: 25px;
    }

}
#light {
    background-color: var(--myWhite);
}
#dark {
    background-color: var(--myDarkGreen);
}
#light h2 {
    font-size: 35px;
    color: var(--myDarkGreen);
    text-align: center;
    padding: 1em 0;
}
#dark h2 {
    font-size: 35px;
    color: var(--myWhite);
    text-align: center;
    padding: 1em 0;
}
#light .header {
    background-color: var(--myHeaderGreen);
    backdrop-filter: blur(6px);
    border-radius: 0 0 20px 50px;
    padding: 0.4em 1em 1em 1em;
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}
#dark .header {
    background-color: var(--myDarkHeader);
    backdrop-filter: blur(6px);
    border-radius: 0 0 20px 50px;
    padding: 0.4em 1em 1em 1em;
    width: 100%;
    height: 5.5rem;
    border-bottom: 0.8px solid var(--myWhite);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    transition: 0.3s;
    z-index: 1;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    height: 100%;
    border-radius: 0 0 20px 0;
    background-color: var(--myGreen-1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.toggle-active {
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    height: 100%;
    border-radius: 0 0 20px 0;
    background-color: var(--myGreen-1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.toggle-p {
    display: flex;
    top: 44.5%;
    position: absolute;
    width: 65%;
    height: 5px;
    border-radius: 30%;
    background-color: var(--myWhite);
}
.toggle-p-off {
    display: none;
    transition: .4s;
}
.toggle::before {
    content: '';
    position: absolute;
    width: 55%;
    height: 5px;
    border-radius: 30%;
    background-color: var(--myWhite);
    transform: translateY(-15px);
    transition: 0.3s;
}
.toggle::after {
    content: '';
    position: absolute;
    width: 55%;
    height: 5px;
    border-radius: 30%;
    background-color: var(--myWhite);
    transform: translateY(10px);
    transition: 0.3s;
}
.toggle-active::before {
    content: '';
    position: absolute;
    width: 55%;
    height: 5px;
    border-radius: 30%;
    background-color: var(--myDarkGreen);
    transform: translateY(-15px);
    transition: 0.3s;
    transform: rotate(45deg);
}
.toggle-active::after {
    content: '';
    position: absolute;
    width: 55%;
    height: 5px;
    border-radius: 30%;
    background-color: var(--myDarkGreen);
    transform: translateY(10px);
    transition: 0.3s;
    transform: rotate(-45deg);
}
.toggle-active {
    border-radius: 0;
    background-color: var(--myGreen-2);
}


h1 a {
    display: flex;
    gap: 0.5em;
    align-items: center;
}
#light h1 a, #light h3 a {
    text-decoration: none;
    color: black;
    transition: 0.25s;
}
#dark h1 a, #dark h3 a {
    text-decoration: none;
    color: var(--myWhite);
    transition: 0.25s;
}
#light h1 a:hover, #light h3 a:hover {
    cursor: pointer;
    color: var(--myGreen-hover);
}
#dark h1 a:hover, #dark h3 a:hover {
    cursor: pointer;
    color: var(--myGreen-hover);
}
h1 img {
    width: 40%;
}
.navbar {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--myHeaderGreen);
    border-radius: 0 0 20px 20px;
    right: -1em;
    top: 5.1em;
    width: 55%;
    height: 25vh;
    align-items: center;
    justify-content: center;
    transition: .4s;
}
.navbar-off {
    display: none;
    transition: .4s;
}
.navbar h3 {
    text-align: center;
    padding: 15% 0;
}

.main-article {
    position: relative;
    width: 100%;
    height: fit-content;
}
.main-article video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 10px;
}
#light .main-article-overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(46, 66, 78, 0.7);
    border-radius: 10px;
}
#dark .main-article-overlay{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 10px;
}
#light .main-bg-about, .main-bg-about-click {
    margin: 3em 0 2em 0;
    border: var(--myDarkGreen) solid 3px;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: var(--myWhite);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to bottom right, var(--myGreen-1), var(--myGreen-3));
    box-shadow: 3px 3px 3px var(--myDarkHeader);
}
#light .main-bg-about-click, #dark .main-bg-about-click {
    color: var(--myDarkGreen);
    box-shadow: none;
}
#dark .main-bg-about {
    margin: 3em 0 2em 0;
    border: var(--myGreen-2) solid 2px;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: var(--myWhite);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to bottom right, var(--myDarkGreen), var(--myGreen-3));
    box-shadow: 3px 3px 3px var(--myDarkHeader);
}
#light .main-bg-about2, .main-bg-about2-click {
    margin: 3em 0 2em 0;
    border: var(--myDarkGreen) solid 3px;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: var(--myWhite);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to top left, var(--myGreen-1), var(--myGreen-3));
    box-shadow: 3px 3px 3px var(--myDarkHeader);
}
#dark .main-bg-about2 {
    margin: 3em 0 2em 0;
    border: var(--myGreen-2) solid 2px;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    color: var(--myWhite);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to top left, var(--myDarkGreen), var(--myGreen-3));
    box-shadow: 3px 3px 3px var(--myDarkHeader);
}
#light .main-bg-about2-click, #dark .main-bg-about2-click {
    color: var(--myDarkGreen);
    box-shadow: none;
}
#light .main-bg-about:hover, #light .main-bg-about2:hover, #dark .main-bg-about:hover, #dark .main-bg-about2:hover {
    background-image: linear-gradient(var(--myGreen-hover), var(--myGreen-hover));
    cursor: pointer;
    letter-spacing: 0.4px;
    color: var(--myDarkGreen);
}
.main-bg {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 10em;
    width: 100%;
    height: 100vh;
}
.main-bg figure {
    width: 60%;
    display: flex;
    align-items: center;
    padding-top: 5em;
}
.main-bg img {
    width: 220px;
    height: 200px;
    padding-right: 4em;
    border-radius: 50%;
}
#light .main-bg-2 {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--myGreen-3);
    border-radius: 10px;
}
#dark .main-bg-2 {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, var(--myGreen-1), var(--myDarkGreen));
    border-radius: 10px;
}
#light .main-bg-3 {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--myGreen-2);
    border-radius: 10px;
}
#dark .main-bg-3 {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--myDarkGreen);
    border-radius: 10px;
}
#light .main-bg-2 h5, #light .main-bg-3 h5 {
    color: var(--myDarkGreen);
    font-size: 25px;
    font-weight: lighter;
    margin: 0.5em 3em;
    text-align: center;
}
#dark .main-bg-2 h5, #dark .main-bg-3 h5 {
    color: var(--myWhite);
    font-size: 25px;
    font-weight: lighter;
    margin: 0.5em 3em;
    text-align: center;
}
#light .main-bg h1 {
    font-size: 3.5rem;
    color: var(--myGreen-hover);
}
#dark .main-bg h1 {
    font-size: 3.5rem;
    color: var(--myGreen-3);
}
#light .main-bg-h2 {
    color: var(--myGreen-hover);
}
#dark .main-bg-h2 {
    color: var(--myGreen-3);
}
#light .about-main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 4em 5em;
    color: var(--myDarkGreen);
}
#dark .about-main {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 4em 5em;
    color: var(--myWhite);
}
.about-main p {
    font-size: 20px;
    text-align: center;
    padding: 0.5em 0;
}

/* FOOTER */
#light .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4em;
    width: 100%;
    height: fit-content;
    background-color: var(--myDarkGreen);
    color: var(--myWhite);
    border-radius: 10px 10px 0 0;
}
#dark .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4em;
    width: 100%;
    height: fit-content;
    background-color: var(--myDarkGreen);
    color: var(--myWhite);
    border-radius: 10px 10px 0 0;
    border-top: 0.8px solid var(--myWhite);
}
.footer-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}
#light .footer-main-card {
    color: var(--myDarkGreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23em;
    height: 25vh;
    background-color: var(--myWhite);
    border-radius: 5px;
}
#dark .footer-main-card {
    color: var(--myWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 23em;
    height: 25vh;
    background-color: var(--myGreen-1);
    border-radius: 5px;
}
.footer-main-title {
    font-weight: bolder;
    padding-top: 1em;
    font-size: 17px;
}
.footer-main span {
    padding-top: 1em;
}
#light .footer-main-br {
    margin-top: 1em;
    width: 4em;
    height: 0.15em;
    border-radius: 20px;
    background-color: var(--myDarkGreen);
}
#dark .footer-main-br {
    margin-top: 1em;
    width: 4em;
    height: 0.15em;
    border-radius: 20px;
    background-color: var(--myWhite);
}
.footer-main-card-logo-a, .footer-main-card-logo-e, .footer-main-card-logo-p {
    width: 2em;
    height: 2em;
    background-size: contain;
}
#light .footer-main-card-logo-a {
    background-image: url(../components/Media/address_icon.png);
}
#dark .footer-main-card-logo-a {
    background-image: url(../components/Media/address_icon_white.png);
}
#light .footer-main-card-logo-e {
    background-image: url(../components/Media/email_icon.png);
}
#dark .footer-main-card-logo-e {
    background-image: url(../components/Media/email_icon_white.png);
}
#light .footer-main-card-logo-p {
    background-image: url(../components/Media/phone_icon.png);
}
#dark .footer-main-card-logo-p {
    background-image: url(../components/Media/phone_icon_white.png);
}
.footer h4 {
    color: var(--myWhite);
    width: 100%;
    padding: 3em 0 1em 0;
    text-align: center;
    font-weight: lighter;
}
.footer-social {
    padding-top: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-social a {
    padding: 0 2em;
}
.footer-social img {
    width: 3.5em;
    height: 3,5em;
    transition: 0.2s;
}
.footer-social img:hover {
    background-color: var(--myGreen-hover);
    width: 3,5em;
    height: 3,5em;
    border-radius: 50%;
    opacity: 70%;
}