
/* SEMAFOR */

.semafor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 0.2em;
    width: 13em;
    height: 25em;
    border: none;
    border-radius: 1em;
    background-color: var(--myGreen-1);
}
.semafor p {
    width: 7em;
    height: 7em;
    border: 2px solid var(--myGreen-2);
    border-radius: 3.5em;
    margin: 0.6em 0;
}
.red-light {
    background-color: rgb(223, 68, 68);
    transition: 0.1s;
    box-shadow: 4px 4px 30px rgb(223, 68, 68),
    -4px -4px 30px rgb(223, 68, 68);
}
.yellow-light {
    background-color: yellow;
    transition: 0.1s;
    box-shadow: 4px 4px 30px rgb(241, 241, 174),
    -4px -4px 30px rgb(241, 241, 174);
}
.green-light {
    background-color: green;
    transition: 0.1s;
    box-shadow: 4px 4px 30px rgb(29, 247, 112),
    -4px -4px 30px rgb(29, 247, 112);
}
.off-light {
    background-color: var(--myHoverBlackGreen);
    transition: 0.2s;
    box-shadow: none;
}
.modul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
}
.modul button {
    width: 6em;
    height: 2em;
    margin-top: 4%;
    border-radius: 5px;
    font-size: 25px;
    border: none;
    color: var(--myBlackGreen);
}
#false .modul button{
    box-shadow: 0 0 15px var(--myBlackGreen);
    background-color: var(--myGreen-1);
    transition: .3s;
}
#true .modul button {
    box-shadow: 0 0 15px var(--myGreen-2);
    background-color: var(--myGreen-2);
    transition: .3s;
}
.modul button:hover {
    cursor: pointer;
}
#false .modul button:hover, #true .modul button:hover {
    background-color: var(--myGreen-3);
    font-weight: bold;
    box-shadow: none;
}
.stalp {
    position: relative;
    width: 0em;
    height: 10em;
    border: 8px solid var(--myGreen-1);
    margin: 0 15%;
}