
/* TicTacToe */

* {
    --tictacColor-1: #AF2200;
    --tictacColor-2: #C65D03;
    --tictacColor-3: #F8A147;
    --tictacColor-4: #644936;
    --tictacColor-5: #0A0404;
}



#false .tictactoe {
    display: flex;
    position: relative;
    height: 100vh;
    flex-direction: column;
    border-radius: 20px;
}
#true .tictactoe {
    display: flex;
    position: relative;
    height: 100vh;
    flex-direction: column;
    border-radius: 20px;
}
.tictactoe-spline {
    position: absolute;
    margin: 0%;
    border-radius: 20px;
}
.tictactoe main {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%,-50%);
    width: 20em;
}
.tictactoe-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18%;
    position: relative;
}
#false .tictactoe-game-turn {
    color: var(--tictacColor-4);
    font-size: x-large;
    padding-bottom: 0.2em;
    width: 5em;
    display: flex;
    justify-content: space-around;
}
#true .tictactoe-game-turn {
    color: var(--myGreen-3);
    font-size: x-large;
    padding-bottom: 0.2em;
    width: 5em;
    display: flex;
    justify-content: space-around;
}
#false .tictactoe-title h4 {
    font-size: 50px;
    color: var(--myBlackGreen);
    text-align: center;
    padding: 2.2em 0 0.5em 0;
    letter-spacing: 1.5px;
    pointer-events: none;
    position: absolute;
}
#true .tictactoe-title h4 {
    font-size: 50px;
    color: var(--myGreen-3);
    text-align: center;
    padding: 2.2em 0 0.5em 0;
    letter-spacing: 1.5px;
    pointer-events: none;
    position: absolute;
}
#false .tictactoe h3 span, #true .tictactoe h3 span {
    text-align: center;
    width: 5px;
    font-weight: 900;
}
#false .tictactoe-cell {
    width: 7em;
    height: 7em;
    position: relative;
    display: flex;
    /* place-items: center; */
    align-items: center;
    justify-content: center;
    color: var(--myGreen-3);
    background: var(--tictacColor-2);
    box-shadow: 10px 10px 25px var(--tictacColor-2);
    transition: .3s;
}
#true .tictactoe-cell {
    width: 7em;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--myGreen-3);
    background: var(--tictacColor-4);
    box-shadow: 2px 2px 25px var(--tictacColor-3);
    transition: .3s;
}
#false .tictactoe-cell:hover, #true .tictactoe-cell:hover {
    cursor: pointer;
    background: var(--tictacColor-1);
    box-shadow: 10px 10px 30px var(--tictacColor-1);
}
.tictactoe-cell span {
    font-size: 4em;
    font-weight: bolder;
}
.tictactoe-game {
    display: grid;
    grid-template: 
        'a a a' 33%
        'b b b' 33%
        'c c c' 33%;
    gap: 0.4em;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
.tictactoe-win-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    height: auto;
}
#false .tictactoe-win-section p {
    color: var(--tictacColor-4);
    font-size: x-large;
    width: 10em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}
#true .tictactoe-win-section p {
    color: var(--myGreen-3);
    font-size: x-large;
    width: 10em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
}
.tictactoe-win-section p span {
    font-size: 25px;
    font-weight: bolder;
    padding-right: 0.5em;
}
#false .tictactoe-play-button {
    z-index: auto;
    font-size: larger;
    width: 11em;
    background-color: var(--myGreen-hover);
    box-shadow: 3px 3px 5px var(--myBlackHeader);
    color: var(--myBlackGreen);
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    transition: .3s;
}
#true .tictactoe-play-button {
    z-index: auto;
    font-size: larger;
    width: 11em;
    background-color: var(--myGreen-hover);
    box-shadow: 2px 2px 5px var(--myGreen-1);
    color: var(--myBlackGreen);
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    transition: .3s;
}
#false .tictactoe-play-button:hover, #true .tictactoe-play-button:hover {
    background-color: var(--myGreen-2);
    color: var(--myGreen-hover);
    cursor: pointer;
    box-shadow: none;
}