@media (width < 768px) {
    .main-bg-2, .main-bg-3 {
        flex-direction: column;
    }
}

#false .main-bg-about, #false .main-bg-about-click {
    margin: 5% 0 2% 0;
    border-radius: 15px;
    display: flex;
    text-decoration: none;
    color: var(--myBlackGreen);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to bottom right, var(--myGreen-1), var(--myGreen-3));
    box-shadow: 3px 3px 3px var(--myBlackHeader);
}
#false .main-bg-about-click, #true .main-bg-about-click {
    color: var(--myBlackGreen);
    box-shadow: none;
    transition: .3s;
}
#true .main-bg-about, #true .main-bg-about-click {
    margin: 5% 0 2% 0;
    border-radius: 15px;
    display: flex;
    text-decoration: none;
    color: var(--myGreen-3);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to bottom right, var(--myBlackGreen), var(--myGreen-1));
    box-shadow: 3px 3px 3px var(--myBlackHeader);
}
#false .main-bg-about2 {
    margin: 5% 0 10% 0;
    border-radius: 15px;
    display: flex;
    text-decoration: none;
    color: var(--myBlackGreen);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to top left, var(--myGreen-1), var(--myGreen-3));
    box-shadow: 3px 3px 3px var(--myBlackHeader);
}
#true .main-bg-about2 {
    margin: 5% 0 10% 0;
    border-radius: 15px;
    display: flex;
    text-decoration: none;
    color: var(--myGreen-3);
    width: 11em;
    height: 4em;
    justify-content: center;
    align-items: center;
    transition: .3s;
    background-image: linear-gradient(to top left, var(--myBlackGreen), var(--myGreen-1));
    box-shadow: 3px 3px 3px var(--myBlackHeader);
}
#false .main-bg-about2-click, #true .main-bg-about2-click {
    color: var(--myBlackGreen);
    box-shadow: none;
}
#false .main-bg-about:hover, #false .main-bg-about2:hover, #true .main-bg-about:hover, #true .main-bg-about2:hover {
    background-image: linear-gradient(var(--myGreen-hover), var(--myGreen-hover));
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 0.2px;
    color: var(--myBlackGreen);
}
#false .main-bg-2 {
    width: 100%;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--myGreen-3);
    border-radius: 20px;
}
#true .main-bg-2 {
    width: 100%;
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, var(--myGreen-1), var(--myBlackGreen));
    border-radius: 20px;
}
.main-bg-2 div, .main-bg-3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-bg-2 img {
    width: 40%;
    padding-left: 6%;
}
.main-bg-3 img {
    width: 20%;
    padding-right: 6%;
}
#false .main-bg-3 {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--myGreen-2);
    border-radius: 20px;
}
#true .main-bg-3 {
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--myBlackGreen);
    border-radius: 20px;
}
#false .main-bg-2 h5, #false .main-bg-3 h5 {
    color: var(--myBlackGreen);
    width: 85%;
    font-size: 1.47em;
    font-weight: lighter;
    margin: 0.5em 2em;
}
#true .main-bg-2 h5, #true .main-bg-3 h5 {
    color: var(--myGreen-hover);
    width: 85%;
    font-size: 1.47em;
    font-weight: lighter;
    margin: 0.5em 2em;
}