/* CALCULATOR */

#true .calculator-main {
    width: 100%;
    height: 45em;
    border-top: solid 0.7px var(--myGreen-hover);
    border-bottom: solid 0.7px var(--myGreen-hover);
    border-radius: 20px;
    background-color: var(--myBlackGreen);
}
#false .calculator-main {
    width: 100%;
    height: 45em;
    border-radius: 20px;
    background-color: var(--myGreen-3);
}
.calculator-main h2 {
    margin-top: -1em;
}
.calculator {
    display: grid;
    justify-content: center;
    margin-bottom: 3em;
    gap: 0.2em;
    grid-template-columns: repeat(4, 4em);
    grid-template-rows: minmax(5em, auto) repeat(5, 3em);
}
.calc-generate-background-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 5em;
}
#false .calc-generate-background-button {
    z-index: auto;
    font-size: larger;
    background-color: var(--myGreen-hover);
    box-shadow: 3px 3px 5px var(--myBlackHeader);
    color: var(--myBlackGreen);
    margin-right: 1.5em;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    transition: .3s;
}
#true .calc-generate-background-button {
    z-index: auto;
    font-size: larger;
    background-color: var(--myGreen-hover);
    box-shadow: 2px 2px 5px var(--myGreen-1);
    color: var(--myBlackGreen);
    margin-right: 1.5em;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    transition: .3s;
}
#false .calc-generate-background-button:hover, #true .calc-generate-background-button:hover {
    background-color: var(--myGreen-2);
    color: var(--myGreen-hover);
    cursor: pointer;
    box-shadow: none;
}
#false .calculator-button {
    border-radius: 4px;
    font-size: 1.2em;
    transition: .3s;
    border: 1px solid var(--myGreen-hover);
    background-color: var(--myGreenTransparent-2);
}
#true .calculator-button {
    border-radius: 4px;
    font-size: 1.3em;
    transition: .2s;
    border: 1px solid var(--myGreen-2);
    background-color: var(--myGreenTransparent-2);
}
#false .calculator-button:hover, #true .calculator-button:hover, #true .calculator-span-two:hover, #false .calculator-span-two:hover {
    cursor: pointer;
    color: var(--myGreen-hover);
    background: var(--myHoverBlackGreen);
}
#true .calculator-span-two, #false .calculator-span-two {
    border-radius: 4px;
    font-size: 1.3em;
    transition: .2s;
    border: 1px solid #FF9677;
    grid-column: span 2;
    background: #FF9677;
}
.calculator-display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.2em 0.4em;
    grid-column: 1 / -1;
    background: var(--myBlackGreen);
    border-radius: 4px;
    border: 1px solid var(--myGreen-hover);
    word-wrap: break-word;
    word-break: break-all;
}
.calculator-prev-number {
    color: var(--myGreen-hover);
    font-size: 1.4em;
}
.calculator-curr-number {
    color: var(--myWhite);
    font-size: 2.4em;
}